

body{
  background:black;
}

header {
    background-color: white;
    overflow: hidden;
    position: sticky;
    height:65px;
    top: 0;
}

.container {
  width: 1170px;
  padding: 0 20px;
  margin: 0 auto;
 
}
.logo{
  width: 57px;
  margin-left:  203px;
}
.header-kiri{
  float: left;
}

.header-kanan{
  float: right;
  padding-top: 13px;
}

.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
}

.header-kiri a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 21px 16px;
  text-decoration: none;
  font-size: 17px;
}
.header-kiri a:hover {
  background-color: #ddd;
  color: white;
}


/*.header-kanan input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}*/
@media screen and (max-width: 671px) {
  .header-kiri a, .header-kiri input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .header-kanan input[type=text] {
    border: 1px solid #ccc;
  }}


.main {
    height: 3000px;
}

.search {
    padding:8px 15px; 
    background: #f0f8ff; 
    border:2px solid #008080;
}

/* corousel */
* {
  margin: 0;
  padding: 0;
  font-family: calibri light;
  box-sizing: border-box;
}
.banner {
  /* background-color: black; */
  color: white;
}
/* Header */
header .container {
  width: 100%;
  height: 60px;
}
/* Main */

/* Banner/carousel */
main .banner {
  width: 100%;
  height: 500px;
  background-image: url(/asset/img/il-vagabiondo-8eNt0CQamB0-unsplash.jpg);
  background-size: cover;
  background-position: bottom;
  text-shadow: 2px 0px 5px rgba(0, 0, 0, 0.8);
  padding-top: 10px;
}
main .banner .brand{
  text-align: center;
  font-size: 22px;
  margin-top: 0px;
}
main .middle {
  margin-bottom: -20px;
  margin-top: 0px;
  margin-left: 300px;
}
main .middle .middles {
float: left;
display: block;
margin: 20px;
}
main .middle .middles img {
  height: 300px;
  border-radius: 20px;
  width: 200px;
}
main .middle .middles:hover {
  transform: scale(1.5);
  transition: 0.5s;
}
main .middle .middles p {
  font-size: 24px;
  text-align: center;
}
main .btn-pesan {
background-color:whitesmoke;
border: none;
margin-left: 42%;
padding: 10px;
width: 15%;
font-weight: bold;
font-size: 18px;
border-radius: 18px;
}
.btn-pesan:hover{
  background-color:goldenrod;
  transition: 0.3s;
  box-shadow: 0px 0px 5px 5px rgba(250, 248, 248, 0.8);
  color: white;
}
.btn-pesan:active{
  background-color:whitesmoke;
  color: black;
}
/* end Banner/carousel */

/* end Main */


/* nabil */
    
/* * {
margin: 0;
padding: 0;
}
body {
background-color: grey;
font: normal 13px/1.5;
font-family: 'Roboto Condensed', sans-serif;
color: #333;
} */
.atas {
width: 705px;
margin: 20px auto;
padding: 20px;
}
h1 {
display: inline-block;
background-color: #fff;
color: gray;
font-size: 16px;
font-weight: normal;
text-transform: uppercase;
padding: 4px 20px;
float: left;
border-radius: 50px;
margin-left: 200px;
}
    
.clear {
clear: both;
}
.items {
display: block;
margin: 20px 0;
}
.item {
background-color: #fff;
float: left;
margin: 0 11px 10px 10px;
width: auto;
padding: 10px;
height: auto;
 
}
.item img {
display: block;
margin: auto;
transition: transform .2s;
}

.item img:hover{
transform: scale(1.5);
}
h2 {
font-size: 12px;
display: block;
border-bottom: 1px solid #ccc;
margin: 0 0 10px 0;
padding: 0 0 5px 0;
}
button {
border: 1px solid gray;
padding: 4px 14px;
background-color: gray;
color: #fff;
text-transform: uppercase;
float: right;
margin: 5px 0;
font-weight: 400;
cursor: pointer;
font-family: 'Roboto Condensed', sans-serif;
border-radius: 50px;

}
button:focus{
outline: none !important;
}
span {
float: right;
}
    
p{
font-size: 14px;
}
.tujuan-wisata {
display: inline-block;
background: url(cart.png) no-repeat 0 0;
width: 30px;
height: 30px;
position: fixed;
}


/* main */
main{
  padding:20px;
  overflow:auto;
  background-color:black;
}
.card{
  border-radius: 5px;
  width: 50%;
  margin-left: 26%;
  overflow-x:auto;
  background-color: rgba(255, 255, 255, 0.1);
}

#content{
  padding-top: 20px;
  width:100%;

}
aside{
  width: 100%;

  display: inline-block;
  position: relative;
}
.profile-card{
  text-align:center;
  overflow-x:auto;
  color: white;
}

.responsive-iframe {
top: 0;
left: 0;
bottom: 0;
right: 0;
width: 100%;
height: 30%;
}

.team{
  display: flex;
  justify-content: center;
}

.posisi{
  padding: 30px;
}
.accordion {
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: grey;
}

.panel {
  padding: 0 18px;
  background-color: black;
  max-height: 0;
  color:white;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}



/* footer */
.footer{
  bottom: 0px;
  left: 0;
  background-color: rgb(84, 85, 82);
  display: grid;
  color: white;
  padding: 20px 0px;
}

.footer .left{
  width: 47%;
  float: left;
}

.footer .right{
  width: 47%;
  float: right;
}

/* .left{
  padding-right: 50px;
}

.right{
  padding-left: 50px;
} */

.left h3,.left p{
  text-align: right;
}

.right h3{
  text-align: left;
}

.sosmed{
  display: inline-flex;
  margin-bottom: 30px;
}

.sosmed .icon{
  padding-right: 10px;
}

.icon .tooltip{
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.ig:hover{
  cursor: pointer;
}

.telp:hover{
  cursor: pointer;
}

.youtube:hover{
  cursor: pointer;
}

.ig:hover #ig{
  visibility: visible;
}

.telp:hover #telp{
  visibility: visible;
}

.youtube:hover #youtube{
  visibility: visible;
}

.hr-right, .hr-left{
  display: flex;
  width: 100%;
  height: 8px;
  margin: 5px 0px 15px 0px;
}

.hr-right{
  justify-content: flex-end;
}

.hr-item {
  height: 8px;
  margin: 0;
  flex-grow: 1;
  transition: all .8s ease-in-out;
  cursor: pointer;
}

.long{
  max-width: 100px;
  background-color: yellowgreen;
}

.short{
  max-width: 30px;
  background-color: yellow;
}

.bottom{
  text-align: center;
}

/* Tablet */
@media screen and (max-width:1000px){
  main .middle {
      margin-left: 70px;
  }
  main .middle .middles img {
      height: 250px;
      width: 160px;
  }
}

/* Mobile */
@media screen and (max-width:670px){
  main .middle {
      margin-left: 70px;
  }
  main .middle .middles img {
      height: 120px;
      width: 120px;
  }
  main .btn-pesan {
      width: auto;
  }